<nav class="navbar is-primary is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item brand" href="/">
        Orkos House
      </a>
  
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div class="navbar-menu">
        <div class="navbar-end">
            {% assign navpages = site.pages | sort: "order" | where: "type","page" %}
            {% for page in navpages %}
                <a class="navbar-item" href="{{ page.url }}">{{ page.title }}</a>
            {% endfor %}
        </div>
    </div>
  </nav>